<button mat-button 
class="close" 
(click)="closeBtn()" 
matTooltip="close design review">
  <i class="fas fa-times">&nbsp;close</i>
</button>
<mat-dialog-content>
  <mat-card>
    <mat-toolbar>
      <h3>Terms of Use!</h3>
    </mat-toolbar>
    <p>Please read these Terms of Use carefully before using this platform operated by Niexson Technologies.</p>
    <p>Your access to and use of the service is conditioned on your acceptable of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the service.</p>
    <p>By accessing or using the service you agree to be bound by these Terms. If you diagree with any part of the terms then you may not access the service.</p>
    <div class="terms">
      <h3>As a Designer</h3>
      <ul>
        <li>You agree that the designs you upload originated solely from you.</li>
        <li>Seek permission from any face(s) that may appear on your designs before uploading as the fastudio team will not be responsible for any privacy issues that may arise from the use of such design.</li>
        <li>Do not charge a client for a design unless the design is completed. You are only permitted to charge a client for design material if and only if the client does not have a material.</li>
        <li>You must be ready to deliever a clients design on or before the agreed due date.</li>
      </ul>
      <i>NB: Fastudio team has the right to terminate a designers account without notice for terms of use violation.</i>
    </div>
    <div class="terms">
      <h3>As a visitor/client</h3>
      <ul>
        <li>Do not pay a designer until your design is completed but you are expected to pay for the design material if the need arises as fastudio will not be responsible for any form of fraud.</li>
        <li>You agree to pay the agreed price for a design without reservation upon design completion.</li>
      </ul>
      <i>NB: Report any form of fraud or violation that is within the terms of use.</i>
    </div>
  </mat-card>
</mat-dialog-content>
