<mat-spinner class="loading" color="accent" [diameter]="30" *ngIf="loading == true"></mat-spinner>
<mat-card class="empty" *ngIf="loading == false && designs.length == 0">
  <h4>This Portfolio is currently empty! Kindly check back later</h4>
</mat-card>
<div *ngIf="designs.length != 0">
  <mat-toolbar class="main">
    <h4><i class="fas fa-briefcase">&nbsp;Portfolio:&nbsp;{{designs[0].designer}}</i></h4>
  </mat-toolbar>
  <div class="details">
    <span><u>Contact Details:</u>&nbsp;<i>({{designs.length + ' items'}})</i></span>
    <h5><i class="fas fa-map-marker-alt">&nbsp;{{ designs[0].designerAddress }}</i></h5>
    <h5><i class="fas fa-globe-africa">&nbsp;{{ designs[0].designerCity + ',' + ' ' + designs[0].designerState + ',' + ' ' + designs[0].designerCountry.name }}</i></h5>
    <h5><i class="fas fa-mobile-alt">
      &nbsp;+{{ designs[0].designerCountry.callingCodes[0] + designs[0].designerPhone }}
    </i></h5>
  </div>
  <mat-toolbar class="search">
    <mat-form-field color="primary">
      <i matPrefix class="fas fa-search">&nbsp;</i>
      <input matInput placeholder="Search by style, gender or price" [(ngModel)]="search" />
    </mat-form-field>
  </mat-toolbar>
  <section>
    <mat-card class="designs" *ngFor="let design of designs | filter:search">
      <div class="row">
        <img
          mat-card-image
          src="http://res.cloudinary.com/niexsontech/image/upload/w_160,h_160,c_pad,b_gray/v{{design?.imgVersion}}/{{design?.imgId}}"
          alt="{{design.description}}"
        />
        <mat-card-content class="cols">
          <h4><i class="fas fa-bullseye">&nbsp;{{ design?.category }}</i></h4><br>
          <h4><i class="fas fa-male">&nbsp;{{ design?.gender + ',' + ' ' + design?.subCategory }}</i></h4><br>
          <h4><i class="far fa-clock">&nbsp;{{ TimeFromNow(design?.created) }}</i></h4><br>
          <h5><i>{{design?.priceWorth | number}}&nbsp;{{design?.designerCountry.currencies[0].code}}</i></h5>
        </mat-card-content>
      </div>
      <mat-card-actions>
        <button
          mat-raised-button
          (click)="detailBtnHandler(design._id)"
          color="accent"
        >
          Show details...
        </button>
      </mat-card-actions>
    </mat-card>
  </section>
  <div class="more">
    <mat-spinner [diameter]="20" *ngIf="spinner == true"></mat-spinner>
    <button *ngIf="all == false" mat-stroked-button color="primary" (click)="openMore()">load More...</button>
  </div>
</div>

