div {
  font-size: 1.1rem;
  .link > a {
    color: #dd3573 !important;
    cursor: pointer !important;
  }
  text-align: center;
  color: white;
  padding: 5px;
  background: rgba(59, 58, 58, 0.863);
}
