mat-toolbar {
  background: #f5f5f5e0 !important;
  border-radius: 20px !important;
  padding-left: 15% !important;
  box-shadow: #3333 0px 2px 2px 2px;
}
mat-card {
  min-height: 50vh;
  padding: auto;
  text-align: center;
  margin-top: 20px;
  .far {
    color: #aaaa;
    font-size: 100px;
  }
}
