.header {
  font-size: 1.1em;
  height: 40px;
  background: #f5f5f5e0 !important;
  border-radius: 10px !important;
  box-shadow: #3333 0px 2px 2px 2px;
}
.mat-spinner {
  margin: 10px auto;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Center it */
}

.form-container > * {
  width: 60%;
  margin: 0 auto; /* Center it */
}

mat-card {
  margin: 15px 5px;
  overflow: auto;
  text-align: center;
  padding: 2em 0 2em 0;
  color: #070101;
  border-radius: 15px;
  background-color: rgba(255, 254, 254, 0.726);

  .user-avatar {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    padding-top: 5px;
  }
  button {
    color: white;
  }
}
.success {
  margin: 20px;
  color: rgb(6, 252, 149) !important;
  text-align: center;
  padding: 10px;
  border: 5px dotted rgb(6, 252, 149);
}
.error {
  margin: 20px;
  color: red !important;
  text-align: center;
  padding: 10px;
  border: 5px dotted red;
}
