<mat-toolbar class="header"><h4>Reset Password</h4></mat-toolbar>
<mat-card>
  <div *ngIf="success == false">
    <img src="../../../../assets/images/logo.png" width="100px" class="user-avatar" />
    <h2>{{fullname}}</h2>
    <form class="form-container" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <mat-form-field color="accent">
        <i matPrefix class="fas fa-unlock-alt">&nbsp;</i>
        <input #nPass matInput minlength="8" placeholder="New Password" type="password" formControlName="newPassword">
        <mat-hint align="end">Minimum of 8 characters</mat-hint>
        <mat-error *ngIf="passwordForm.controls.newPassword.invalid && passwordForm.controls.newPassword.touched">Enter a valid 8 character(minimum) password</mat-error>
      </mat-form-field><br>

      <mat-form-field color="accent">
        <i matPrefix class="fas fa-key">&nbsp;</i>
        <input #cPass minlength="8" matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword">
        <mat-hint align="end">Re-type password.</mat-hint>
        <mat-error *ngIf="passwordForm.controls.confirmPassword.invalid && passwordForm.controls.confirmPassword.touched">comfirm password is
          required</mat-error>
      </mat-form-field><br>
      <button mat-raised-button [disabled]="click == true || !passwordForm.valid" type="submit" color="accent">
        Reset
      </button>
    </form>
  </div>
  <div *ngIf="success == true">
    <div class="success">
      <i>Password reset successful, proceed to login.</i>
    </div>
    <button mat-raised-button routerLink="/home" color="accent">
      login
    </button>
  </div><br>
  <span *ngIf="click == true">
    <mat-spinner [diameter]="20"></mat-spinner>
  </span>
  <div class="error" *ngIf="sendError && success == false">
    <i>{{sendError}}</i>
  </div><br>
</mat-card>